<h1>プロフィール編集</h1>
<%= form_with url: public_customer_path(@customer), model: @customer, method: :patch do |f| %>

<tr>
 <th><%= "名前" %></th>
 <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %></td>

 <th><%= "プロフィール画像" %></th>
 <td><%= f.file_field :profile_image, placeholder: "Profile image", accept: "image/*" %></td>

 <th><%= "紹介文" %></td>
 <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"introduction"%></td>

 <%= f.submit "プロフィール更新" %>
<% end %>
