<div class="row">
 <div class="col-2">
 </div>
  <div class="col-10">
   <h1>プロフィール編集</h1>
    <%= form_with url: public_customer_path(@customer), model: @customer, method: :patch do |f| %>
     <table class="table my-3">
      <tr>
       <th><%= f.label :名前 %></th>
       <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %></td>
      
       <th><%= f.label :プロフィール画像 %></th>
       <td><%= f.file_field :profile_image, placeholder: "Profile image", accept: "image/*" %></td>
      
       <th><%= f.label :自己紹介 %></td>
       <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"introduction"%></td>
      </tr>
     </table>
    <%= f.submit "プロフィール更新" %>
    <% end %>
  </div>
</div>