<h1>編集</h1>
<%= form_with url: public_customer_path(@customer), model: @customer, method: :patch do |f| %>

<tr>
 <th><%= Name %></th>
 <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %></td>
 
 <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
 
 <td><%= Introduction %></td>
 <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"introduction"%></td>
 
 <%= f.submit "Update Customer" %>
<% end %>