 <div class='container'>
   <div class="row my-3">
     <div class="col-3">
      <h2>マイページ</h2>
      <%= render 'public/customers/customerinfo', customer: @customer %>
      <% if @customer %>
          <%= link_to "新規投稿", new_public_item_path, class: "btn btn-outline-primary" %>
        <% end %>
        
     </div>
      <div class="mx-auto col-9" style="display: flex; flex-wrap: wrap;">
      <% @item.each do |item| %>
         <div class="col-md-4" style="width: 33%;">
          <div class="card mb-3">
           <%= image_tag item.product_image, class: 'bd-placeholder-img card-img-top product-card-image' %>
            <div class="card-body">
             <h5 class="card-title"><%= link_to item.itemname, public_item_path(item.id) %></h5>

              <div class="card-integer">
               <%= item.price %>円
              </div>
              <div class="item-evaluation-<%= item.id %>" data-score="<%= item.evaluation %>">
               <script>
                $('.item-evaluation-<%= item.id %>').empty();
                $('.item-evaluation-<%= item.id %>').raty({
                  readOnly: true,
                  score: function() {
                    return $(this).attr('data-score');
                  },
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                });
               </script>
              </div>
             </div>
            </div>
          </div>
        <% end %>
       </div>
     </div>
    </div>