<%= render 'public/customers/customerinfo', customer: @customer %>

     <h2>商品一覧</h2>
      <table>
       <thead>
         <tr>
         <th>商品画像<th>
         <th>商品名</th>
         <th>商品価格</th>
         <th>レビュー</th>
         </tr>
       </thead>
      <tbody>
       <% @item.each do |item| %>
        <tr>
         <td><%= image_tag item.get_product_image(200,200) %></td>
         <td>
           <%= link_to public_item_path(item) do %>
           <%= item.itemname %>
           <% end %>
         </td>
         <td>¥<%= item.price %></td>
         <td><%= item.evaluation %>
         <div id='evaluation-rate<%= item.id %>'></div>
         <script>
         $('#evaluation-rate<%= item.id %>').empty();
         $("#evaluation-rate<%= item.id %>").raty({
          number: 5,
          score: <%= item.evaluation %>,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: "<%= asset_path('star-half.png') %>",
          readOnly: true,

          scoreName: 'item[evaluation]]', //登録するモデル名とカラム名を記述
          half: true,
         });
         </script>
         </td>
        </tr>
        <% end %>
       </tbody>
      </table>
