<div class='container'>
 <div class="row my-3">
  <div class="col-10">
  <h1>商品一覧（ 全 <%= @quantity %> 件 ）</h1>
   <!--タグリスト-->
   <% @tag_list.each do |tag|%>
    <%= link_to "#{tag.name} ( #{tag.items.count} )", admin_items_tag_search_path(tag_id: tag.id) %>
   <% end %>
   </div>
    <% @items.each do |item| %>
     <div class="col-md-4">
      <div class="card mb-3">
       <%= image_tag item.product_image, class: 'bd-placeholder-img card-img-top product-card-image' %>
        <div class="card-body">
         <h5 class="card-title"><%= link_to item.itemname, admin_item_path(item.id) %></h5>

          <div class="card-integer">
           <%= item.price %>円
          </div>
          <div class="item-evaluation-<%= item.id %>" data-score="<%= item.evaluation %>">
           <script>
            $('.item-evaluation-<%= item.id %>').empty();
            $('.item-evaluation-<%= item.id %>').raty({
              readOnly: true,
              score: function() {
                return $(this).attr('data-score');
              },
              starOff: '<%= asset_path('star-off.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
            });
           </script>
           
          </div>
         </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
<%= paginate @items %>