<h2>商品詳細</h2>
 <% @item.tags.each do |tag| %>
   <%= "#{tag.name} ( #{tag.items.count} )" %>
 <% end %>
 <div><%= image_tag @item.get_product_image(200,200) %></div>
 <table>
   <tr>
     <th>商品名</th>
     <td><%= @item.itemname %></td>
   </tr>
   <tr>
     <th>商品概要</th>
     <td><%= @item.body %></td>
   </tr>
   <tr>
     <th>商品価格</th>
     <td>¥<%= @item.price %></td>
   </tr>
   <tr>
     <th>評価</th>
     <td class="item-evaluation" data-score="<%= @item.evaluation %>">
      <script>
      $('.item-evaluation').empty();
      $('.item-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
      });
      </script>
     </td>
    </tr>
  </table>

  <div>
    <%= link_to "商品削除", admin_item_path(@item), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-danger" %>
  </div>
<!--コメント一覧部分-->
<div class="comments">
  <%= render 'public/comments/item_comments', item: @item %>
</div>