<div class="row my-5">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h4 class="bg-light w-75 text-center">
      <%= @customer.name %>さんの会員詳細
    </h4>
  </div>
  <div class="col-4">
  </div>
</div>

<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <table class="table">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.is_deleted == false %>
            <a class="text-success font-weight-bold">有効</a>
          <% else %>
            <a class="text-secondary">退会</a>
          <% end %>
        </td>
      </tr>
    </table>
   <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-outline-success ml-4" %>
  </div>
  <div class="col-4">
  </div>
</div>