<div class="container">
 <div class="row my-4">
  <div class="col-1">
  </div>
  <div class="col-3">
  </div>
  <div class="col-8">
<div id="flash-message">
 <%= render 'layouts/flash' %>
</div>
<h2>会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（６文字以上） %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-outline-success my-3" %>
  </div>
<% end %>
　<div>
    <h3>既に会員登録済みの方</h3>
  </div>
　<div>
    <%= render "public/shared/links" %>からログインしてください。<br />
    またはゲストとしてログインしたい場合は<%= link_to 'こちらから', customers_guest_sign_in_path, method: :post %>
  </div>
  </div>
 </div>
</div>
