 <h2 class="my-4">商品編集</h2>

        <%= form_with model: @item, url:public_item_path(@item.id) do |f| %>
            <tr>
              <th>商品画像</th>
              <td><%= f.file_field :product_image, placeholder:"商品画像", accept: "image/*"%></td>
            </tr>
            <tr>
              <th>商品名</th>
              <td><%= f.text_field :itemname %></td>
            </tr>
            <tr>
              <th>商品概要</th>
              <td><%= f.text_area :body, size: 25 %></td>
            </tr>
            <tr>
              <th>タグ</th>
              <td><%= f.collection_select :tag_id, Tag.all, :id, :name %></td>
            </tr>
            <tr>
              <th>商品価格</th>
              <td><%= f.text_field :price %>円</td>
            </tr>
            <tr>
              <td>評価</td>
              <td><%= f.hidden_field :evaluation, id: :item_evaluation %>
                  <div id='evaluation-rate<%= @item.id %>'></div>
           </td>
           </tr>
            </table>
        <%= f.submit "変更を保存",class: "btn btn-primary btn-block" %>
        <% end %>
 <script>
  $("#evaluation-rate<%= @item.id %>").raty({
    number: 5,
    score: <%= @item.evaluation %>,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: "<%= asset_path('star-half.png') %>",

    scoreName: 'item[evaluation]', //登録するモデル名とカラム名を記述
    half: true,
  });
  </script>
