<h2>商品新規投稿画面</h2>
<%= form_with model: @item, url:public_items_path do |f| %>
<%= f.file_field :product_image, placeholder:"商品画像", accept: "image/*" %>
<%= f.label :itemname, '商品名' %>
<%= f.text_field :itemname %>
<%#= f.label :tag_id, 'タグ' %>
<%#= f.collection_select :tag_id, Tag.all, :id, :name %>
<%= f.label :body, '商品概要' %>
<%= f.text_area :body %>
<%= f.label :price, '商品価格' %>
<%= f.text_field :price %>円
<div class="form-group row" id="star">
    <%= f.label :evaluation,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :evaluation, id: :item_evaluation %>
</div>
<%= f.submit "新規投稿" %>
<% end %>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: "<%= asset_path('star-half.png') %>",

    scoreName: 'item[evaluation]]', //登録するモデル名とカラム名を記述
    half: true,
  });
  </script>