  <%= image_tag @item.get_product_image(200,200) %><br>
          <h1><%= @item.itemname %></h1><br>
          <h3><%= @item.body %></h3><br>
            <h2>¥<%= @item.price %></h2><br>
<div class="new-comment">
  <%= render 'public/comments/form', item: @item, comment: @comment %>
</div>
<!--コメント一覧部分-->
<div class="comments">
  <%= render 'public/comments/item_comments', item: @item %>
</div>